[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/VOom"]
	path = bundle/VOom
	url = git@github.com:vim-voom/VOoM.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
